body {
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f9f6ef;
}

.logo {
    position: relative;   
    height: 100px;
    width: 100px;
}

.header {
    position: relative;
    top: 40px;
    text-align: center;
    color: #b09080;
}

.line {
    position: relative;
    top: 30px;
    width: 50%;
}

.current-question {
    position: relative;
    top: 40px;
    border: black;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    padding: 10px 20px 20px 20px;
    background-color: white;
}

.submit-form {
    position: relative;
    top: 90px;
    width: 500px;
    margin: 0 auto;
}

table {
    margin-top: -100px;
    margin-left: 7%;
    border: grey;
    border-top: 2px;
    border-right: white;
    border-bottom: 2px;
    border-left: white;
    border-style: solid;
    background-color: white;
}

td {
    padding: 7px;
}

footer {
    padding: 40px;
}

.footer-content {
    position: relative;
    top: 100px;
    bottom: 100px;
    margin-bottom: 80px;
    text-align: center;
    color: #b0b0b0;
}